# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List Popular languages for Data SCience
- List Common libraries for Data Science
- How to create a table in Jupyter Notebook
- How to Write Python code in Jupyter notebook
- How to execute a code and Mark down cell

Some of the popular languages that Data Scientists use are:  
1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:  
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

|Data Science Tools|
|------------------|
|Watson Studio|
|Jupyter Notebook|
|R-Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sooraj Singh Jadon